@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
#navbar{
    background-color: #be3144;
    display: flex;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 2px 2px #232426;
}
#navbar a{
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    font-size: 1.5rem;
    font-weight: 600;
}
#navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
#navbar ul li a:hover{
    background-color: #45567D;
    height: 100%;
}
#welcome-section{
    height: 100vh;
    width: 100%;
    background-color: #232426;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    margin-bottom: -20px !important;
}
#welcome-section h1{
    font-size: 100px;
}
#welcome-section em{
    font-size: 40px;
    color: #be3144;
    margin-top: -40px;
}
.section{
    background-color: #45567D;
    width: 100%;
    color: white;
    margin-bottom: -20px !important;
}
#projects{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;

}
#projects h2{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 20px;
}
.project-tile{
    border: 1px solid black;
    width: 300px;
    height: 250px;
    background-color: crimson;
    margin-bottom: 60px;
    display: inline-block;
    margin-right: 10px;
}
figcaption{
    text-align: center;
    width: 301px;
    background-color: #232426;
    height: 50px;
    display: grid;
    align-items: center;
    color: wheat;
}
#profile h2{
    font-size: 40px;
}
#profile{
    height: 80vh;
    background-color: #232426;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: -10px;
}
/* #profile a{
    color: white;
    text-decoration: none;
    margin-top: 4rem;
}
.btn{
    display: inline-flex;
    flex-direction: row !important;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
} */
#profile .profile-link{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}
#profile .btn{
    margin: 5px;
    padding: 15px;
    color: white;
}
.btn a{
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 2px #3a3d40;
    font-size: 1.5rem;
}
.btn a:hover{
    transition: transform 0.3s ease-out;
    margin: 10px;
    color: #be3144;
}
hr{
    border: 3px solid  #be3144;
    width: 100%;
}
footer{
    background-color: #232426;
    width: 100%;
    height: 100px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: wheat;
}
@media (max-width: 600px){
    body{
        margin: 0;
        padding: 0;
        font-family: "Montserrat", sans-serif;
    }
    #welcome-section{
        height: 100vh;
        width: 100%;
        background-color: #232426;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
        margin-bottom: -20px !important;
    }
    .project-tile{
        border: 1px solid black;
        width: 300px;
        height: 250px;
        background-color: crimson;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        margin-right: 10px;
    }
    #welcome-section h1{
        font-size: 50px;
    }
    #welcome-section em{
        font-size: 20px;
        color: #be3144;
    }
    #profile .profile-link{
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
    }
    #profile .btn{
        margin: 5px;
        padding: 15px;
        color: white;
    }
}